body, html {
 background-color: navy;
}

#main-div {
  display: grid;
  justify-items: center;
  background-color: navy;
  color: navy;
}

.card {
  text-align: center;
}

.card-title {
  font-style: italic;
}

#open-form {
  border-radius: 6px;
  background-color: navy;
  color: white;
  font-weight: bold;
  border-color: #0909b0;
}

#form-div {
display: flex;
justify-content: center;
padding-top: 3px;
}
