body, html {
  background: rgb(1,13,87);
  background: linear-gradient(90deg, rgba(1,13,87,1) 0%, rgba(3,34,138,1) 41%, rgba(26,71,240,1) 58%, rgba(84,155,240,1) 100%);
}

#main-div {
  display: grid;
  justify-items: center;
  background: rgb(1,13,87);
  background: linear-gradient(90deg, rgba(1,13,87,1) 0%, rgba(3,34,138,1) 41%, rgba(26,71,240,1) 58%, rgba(84,155,240,1) 100%);
  color: navy;
  padding-bottom: 69px;
}

.sortBtn {
border-radius: 6px;
font-weight: bold;
margin-bottom: 10px;
margin-top: 5px;
font-family: 'Cinzel', serif;
}

#all-btn {
  background-color: #737373;
border: outset #8a8a8a 2px;
color: white;
}

#gr-btn {
  background-color: #740001;
  color: white;
  border: outset #940900 2px;
}

#hu-btn {
  background-color: #ecb939;
  color: white;
  border: outset #dec109 2px;
}

#ra-btn {
  background-color: #222f5b;
  color:white;
  border: outset #051cb5 2px;
}

#sl-btn {
  background-color: #1a472a;
  color: white;
  border: outset #007302 2px;
}

#submit {
border-radius: 6px;
background-color: #737373;
border: outset #8a8a8a 3px;
color: white;
font-family: 'Cinzel', serif;
}

.card {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
}

.card-title {
  font-style: italic;
}

#open-form {
  border-radius: 6px;
  background-color: navy;
  color: white;
  font-weight: bold;
  border: outset #0b00a3 3px;
  font-family: 'Cinzel', serif;
}

#form-div {
display: flex;
justify-content: center;
padding-top: 3px;
margin-bottom: -7px;
padding-bottom: -7px;

}

#all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#vol-card{
  padding-top: 10px;
}

#student-cards-div {
  padding-top: 10px;
}

#student-card-id {
  border:solid white 3px;
}

#color-bar {
  height: 33px;
}

#army-pic {
  height: 240px;
}

.exBtn {
border-radius: 6px;
background-color: #a10000;
color: white;
font-weight: bold;
border:outset #bd0b0b 3px;
font-family: 'Cinzel', serif;
}

#vol-card-id {
  border:solid white 3px ;
}

#vol-count-id {
  border:solid white 3px ;
}
