body, html {
  background: rgba(84,155,240,1) 100%;
}

#main-div {
  display: grid;
  justify-items: center;
  background: rgb(1,13,87);
  background: linear-gradient(90deg, rgba(1,13,87,1) 0%, rgba(3,34,138,1) 41%, rgba(26,71,240,1) 58%, rgba(84,155,240,1) 100%);
  color: navy;
  padding-bottom: 110px;

}

.sortBtn {
padding: 3px;
border-radius: 6px;
font-weight: bold;
margin-bottom: 10px;
margin-top: 5px;
font-family: 'Cinzel', serif;
transition: background-color .2s ease-in-out;
}

#all-btn:hover {
  background-color:#828282;
}

#gr-btn:hover {
  background-color: #8f090a;
}

#hu-btn:hover {
  background-color: #f7ca59;
}

#ra-btn:hover {
  background-color: #2e3e78;
}

#sl-btn:hover {
  background-color: #235c36;
}

#all-btn {
  background-color: #737373;
border: outset #8a8a8a 2px;
color: white;
}

#gr-btn {
  background-color: #740001;
  color: white;
  border: outset #940900 2px;
}

#hu-btn {
  background-color: #ecb939;
  color: white;
  border: outset #f0cb6c 2px;
}

#ra-btn {
  background-color: #222f5b;
  color:white;
  border: outset #324794 2px;
}

#sl-btn {
  background-color: #1a472a;
  color: white;
  border: outset #2f7045 2px;
}

#submit {
border-radius: 6px;
background-color: #737373;
border: outset #8a8a8a 3px;
color: white;
font-family: 'Cinzel', serif;
transition: background-color .2s ease-in-out;
}

#submit:hover {
  background-color:  #828282;
}

.card {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
}

.card-title {
  font-style: italic;
}

#open-form {
  border-radius: 6px;
  background-color: #737373;
  color: white;
  font-weight: bold;
  border: outset #8a8a8a 2px;
  font-family: 'Cinzel', serif;
  transition: background-color .2s ease-in-out;
}

#open-form:hover {
  background-color:#828282;
}

#form-div {
display: flex;
justify-content: center;
padding-top: 3px;
margin-bottom: -7px;
padding-bottom: -7px;

}

#all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#vol-card{
  padding-top: 10px;
}

#student-cards-div {
  padding-top: 10px;
}

#color-bar {
  height: 31px;
}


#list-button {
  border:black;
  padding-bottom: 1px;
}

.list-group-item {
  background-color: white;
}

#list-name {
padding: 5px;
}

#list-house {
  padding: 5px;
}

#list-button {
  padding: 3px;
  padding-top: 6px;
}


#army-pic {
  height: 240px;
}

.exBtn {
border-radius: 6px;
background: linear-gradient(to bottom right, #e50000, #5e0600);
border: none;
color: white;
font-weight: bold;
font-family: 'Cinzel', serif;
transition: box-shadow .2s ease-in-out;
margin: 2px;
}

.exBtn:hover {
  box-shadow: 0 0 .25rem rgba(142, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(169, 0, 0, 0.5), .125rem .125rem 1rem rgba(82, 0, 0, 0.5);
}

#hat-card {
  color: black;
}


#student-card-id {
  border:solid white 3px;
  margin-bottom: 4px;
}

#vol-card-id {
  border:solid white 3px;
  color: black;
  margin: 4px;
}

#vol-count-id {
  border:solid white 3px;
  color: black;
  margin: 4px 4px 4px 4px;
}

#count-card-body {
  padding: 5px;
  margin-bottom: -5px;
}

#vol-card-body {
  padding: 0px;
  margin: -7px;
  margin-bottom: -13px;
}
